<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">

    <testsuites>
        <testsuite name="api">
            <directory>api</directory>
        </testsuite>
        <testsuite name="workers">
            <directory>workers</directory>
        </testsuite>
        <testsuite name="all">
            <directory>api</directory>
            <directory>workers</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>

    <php>
        <env name="ML_TEST_DB_HOST" value="127.0.0.1"/>
        <env name="ML_TEST_DB_USER" value="root"/>
        <env name="ML_TEST_DB_PASS" value=""/>
        <env name="ML_TEST_URL" value="http://localhost/micrologs"/>
        <env name="ML_TEST_ADMIN_KEY" value="73fefa254242cc55a0f39d37cab500488966ef2b9767232d599b618f17432315"/>
        <env name="ML_TEST_VALKEY_HOST" value="127.0.0.1"/>
        <env name="ML_TEST_VALKEY_PORT" value="6379"/>
        <env name="ML_TEST_MODE" value="true"/>
    </php>
</phpunit>